.container {
    margin: 25px auto 0;
    width: 660px;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                    15px 15px 15px rgba(0,0,0,0.1);
}