.btn_submit {
    border: none;
    font-size: 22px;
    background-color: inherit;
    color: #ffffff;
    transition: all 0.2s ease-out;
}

.btn_submit:hover {
    color: #5562eb;
}

.input_form {
    width: 592px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #5562eb;
    font-size: 25px;
    color: #ffffff;
}

form {
    padding: 0 10px;
}