table, .todo, .checked_todo {
    border: 4px solid #d1d7dc;
    border-collapse: collapse;
}
tr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
}
  
.todo {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.2s ease-out;
}
  
.checked_todo {
    background-color: #5562eb;
    color: #ffffff;
    transition: all 0.2s ease-out;
}
  
td {
    border: none;
    padding: 7px;
}

button {
    cursor: pointer;
}
  
.hidden {
    display: none;
}
  
.all_todo_check::before {
    font-weight: 400;
    content: '\f111';
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.2s ease-out;
}
  
.hidden:checked + .all_todo_check::before  {
    content: '\f058';
    color: #5562eb;
}

.todo_checkbox_label::before {
    content: '';
    display: block;
    color: #ffffff;
    border: 3px solid #d9dee2;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.hidden:checked + .todo_checkbox_label::before {
    content: '\2713';
    background-color: #54e0c7;
    border-color: #54e0c7;
}

.todo_text {
    overflow-wrap: break-word;
    width: 550px;
}

.btn_delete_todo {
    border: none;
    background-color: inherit;
    color: inherit;
}

.btn_delete_all_todos {
    font-weight: 400;
    border:none;
    font-size: 25px;
    background-color: inherit;
    color: #5562eb;
    opacity: 1;
    transition: all 0.2s ease-out;
}

.btn_delete_all_todos:hover {
    color: #ffffff;
}

.btn_delete_all_todos_hidden {
    opacity: 0;
    background-color: inherit;
    transition: all 0.2s ease-out;
    border:none;
}